body{
	padding-top:70px;
	padding-bottom:70px;
}

.sw-gray{
	color:#DCDCDC;
}

.sw-width{
	width:100%;
}

.sw-font-white{
	color:black;
}

.sw-black{
	color:black;
}

.sw-80-width{
	width:80%;
}