body{
	padding-top: 70px;
	padding-bottom: 70px;
}

.sw-full-width{
	width:100%;
}

.sw-80-width{
	width: 90%;
}

.sw-color-white{
	color: black;
}

a:hover{
	text-decoration: none;
	color:red;
}