<div class="container">
		<div class="sw-full-width">
		<h1>Login</h1>
		<form>
			<div class="form-group">
				<input type="text" name="username" placeholder="username" class="form-control">
			</div>
			<div class="form-group">
				<input type="text" name="password" placeholder="password" class="form-control">
			</div>
			<a class="btn btn-primary btn-block" routerLink="/user/:uid">Login</a>
			<a class="btn btn-primary btn-block" routerLink="/register">Register</a>
		
		</form>
		
		
		
	

		

	</div>
