<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" routerLink="/user/:uid/website/:wid/page/:pid/widget"><i class="fas fa-chevron-left"></i></a>
		<div class="sw-90-width">
			<a class="float-left navbar-brand" routerLink="#"><strong>Choose Widget</strong></a>
		</div>
		
	</nav>

	<div class="container-fluid">
		<ul class="list-group-flush">
			<li class="list-group-item">
				<a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid">Header</a>
				
			</li>
			<li class="list-group-item">
				<a routerLink="#">Label</a>
				
				<li class="list-group-item">
				<a routerLink="#">HTML</a>
				
			</li>
			<li class="list-group-item">
				<a routerLink="#">Text Input</a>
				
			</li>
			<li class="list-group-item">
				<a routerLink="#">Link</a>
				
			</li>
			<li class="list-group-item">
				<a routerLink="#">Button</a>
				
			</li>
			<li class="list-group-item">
				<a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid">Image</a>
				
			</li>
			<li class="list-group-item">
				<a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid">Youtube</a>
				
			</li>
			<li class="list-group-item">
				<a routerLink="#">Data Table</a>
				
				<li class="list-group-item">
				<a routerLink="#">Repeater</a>
				
			</li>
			
			
		</ul>	
	</div>

	

		<nav class="navbar fixed-bottom navbar-light bg-light">
			<div class="sw-full-width">
  				<a class="sw-color-black float-right" routerLink="/user/:uid	"><i class="fas fa-user"></i></a>
  			</div>
		</nav>
