.darkbg  {
	background: #999;
	color: white;
	text-align: center;
	border:.25px solid white;
	
}

.darkerbg{
	background: #666;
	color: white;
	text-align: center;
	border:.25px solid white;
}

.darkestbg{
	background: #333;
	color: white;
	text-align: center;
	border:.25px solid white;
}

.darkbg:hover{
	background-color: orange;color:blue;
	text-decoration: none;
}

.darkerbg:hover {
	background-color: orange;color:blue;
	text-decoration: none;
}

.darkestbg:hover{
	background-color: orange;color:blue;
	text-decoration: none;
}

